@media screen and (max-width: 820px) {
  .header {
    &-nav {
      &-link {
        display: none;
      }
    }
  }

  .sidebar {
    &-link {
      &--toggle {
        display: inline-block;
      }
    }
  }

  .banner {
    &-content {
      font-size: 0.9em;
      margin-top: 15%;
    }

    &-2-col-left {
      width: 100%;
    }

    &-mobile {
      &-img {
        display: inline-block;
      }
    }
  }

  .page-content-2col {
    flex-direction: column;

    &-left {
      width: 80%;
    }

    &-right {
      margin-top: 3em;
    }

    &--reverse {
      flex-direction: column-reverse;
    }
  }
}
