/*CSS Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

html {
  /* Fluid typography scaling over responsive */
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

body {
  /* Overscroll-behavior eliminates scroll bounce */
  overscroll-behavior: none;
  background: #1b1b1b;
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 0 5%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
}
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  margin: 10px;
  width: 3.8em;
}
.header-logo-image {
  width: 100%;
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-nav-icon-open {
  padding: 5px;
  margin-left: 5px;
}
.header-nav-icon-open div {
  width: 26px;
  height: 7px;
  border-radius: 10px;
  background: #ffffff;
  transition: 0.4s ease;
}
.header-nav-icon-open div:hover {
  background: #20bcff;
}
.header-nav-link {
  margin: 0 0.8em;
  padding: 0.9em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  transition: 0.4s ease;
}
.header-nav-link:visited {
  color: #ffffff;
}
.header-nav-link:hover {
  color: #20bcff;
}

.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -220px;
  z-index: 25;
  background: #1b1b1b;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #444444;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.2);
}
.sidebar-container {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar-icon-close {
  position: absolute;
  top: 25px;
  right: 30px;
  color: #ffffff;
  font-size: 26px;
  transition: 0.4s ease;
}
.sidebar-icon-close:hover {
  color: #20bcff;
}
.sidebar--open {
  right: -3px;
}
.sidebar-link {
  margin: 0 0.8em;
  padding: 0.9em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  transition: 0.4s ease;
}
.sidebar-link:visited {
  color: #ffffff;
}
.sidebar-link:hover {
  color: #20bcff;
}
.sidebar-link--toggle {
  display: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background: #1b1b1b;
  overflow-x: hidden;
}

.text-white-underline {
  color: #ffffff;
  display: inline-block;
}
.text-white-underline:after {
  width: 100%;
  height: 5px;
  margin-top: 0.4em;
  background: #ff2d2d;
  display: table;
  content: "";
}

.button-link {
  border: 2px solid #ff2d2d;
  padding: 0.7em 1em;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 1.05em;
  font-weight: 300;
  color: #ffffff;
  transition: 0.4s ease;
}
.button-link:hover {
  color: #20bcff;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-2-col-left {
  position: relative;
  z-index: 4;
  width: 50%;
  min-width: 430px;
  height: 100vh;
  background: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-2-col-left:after {
  position: absolute;
  z-index: 6;
  right: 0;
  top: -10vh;
  display: table;
  content: "";
  width: 90%;
  height: 110vh;
  transform: rotate(13deg);
  transform-origin: bottom right;
  background: #1b1b1b;
}
.banner-2-col-right {
  flex: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.banner-img {
  width: 60%;
  margin-left: 10%;
}
.banner-mobile-img {
  width: 280px;
  margin-top: 3em;
  align-self: center;
  display: none;
}
.banner-content {
  position: relative;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-content-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 2.6em;
  white-space: nowrap;
  color: #20bcff;
}
.banner-content-desc {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.23em;
  line-height: 135%;
  color: #aaaaaa;
  margin-top: 1em;
  margin-bottom: 1.8em;
}

@media screen and (max-width: 780px) {
  .header-nav-link {
    display: none;
  }

  .sidebar-link--toggle {
    display: inline-block;
  }

  .banner-content {
    font-size: 0.9em;
    margin-top: 15%;
  }
  .banner-2-col-left {
    width: 100%;
  }
  .banner-mobile-img {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
