// CSS Reset
@import "reset";

$matt-black: #1b1b1b;
$dark-grey: #444444;
$light-grey: #aaaaaa;
$white: #ffffff;
$blue: #20bcff;
$red: #ff2d2d;

html {
  /* Fluid typography scaling over responsive */
  font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));
}

body {
  /* Overscroll-behavior eliminates scroll bounce */
  overscroll-behavior: none;
  background: $matt-black;
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

//
// Header
//

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  padding: 0 5%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $matt-black;
  transition: 0.5s ease;

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    margin: 10px;
    width: 3.8em;

    &-image {
      width: 100%;
    }
  }

  &-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      &-open {
        padding: 5px;
        margin-left: 5px;

        div {
          width: 26px;
          height: 7px;
          border-radius: 10px;
          background: $white;
          transition: 0.4s ease;

          &:hover {
            background: $blue;
          }
        }
      }
    }

    &-link {
      margin: 0 0.8em;
      padding: 0.9em;
      color: $white;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 0.9em;
      transition: 0.4s ease;

      &:visited {
        color: $white;
      }

      &:hover {
        color: $blue;
      }
    }
  }

  &--shadow {
    box-shadow: 0px -3px 14px 0px rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid $dark-grey;
  }

  &--hide {
    top: -100px;
  }
}

//
// Sidebar
//

.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -220px;
  z-index: 25;
  background: $matt-black;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid $dark-grey;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.2);

  &-container {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-icon {
    &-close {
      position: absolute;
      top: 25px;
      right: 30px;
      color: $white;
      font-size: 26px;
      transition: 0.4s ease;

      &:hover {
        color: $blue;
      }
    }
  }

  &--open {
    right: -3px;
  }

  &-link {
    margin: 0 0.8em;
    padding: 0.9em;
    color: $white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    transition: 0.4s ease;

    &:visited {
      color: $white;
    }

    &:hover {
      color: $blue;
    }

    &--toggle {
      display: none;
    }
  }
}

//
// Base
//

.wrapper {
  width: 100%;
  min-height: 100vh;
  background: $matt-black;
  overflow-x: hidden;
  position: relative;
}

.text-white-underline {
  color: $white;
  display: inline-block;

  &:after {
    width: 100%;
    height: 5px;
    margin-top: 0.4em;
    background: $red;
    display: table;
    content: "";
  }
}

.button-link {
  border: 2px solid $red;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 1.05rem;
  font-weight: 300;
  color: $white;
  transition: 0.4s ease;
  line-height: 100%;

  &:hover {
    color: $blue;
  }
}

.text-blue {
  color: $blue;
}

.flex-column {
  flex-direction: column;
}
//
// Banner
//

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &-2-col-left {
    position: relative;
    z-index: 4;
    width: 50%;
    min-width: 430px;
    height: 100vh;
    background: $matt-black;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      position: absolute;
      z-index: 6;
      right: 0;
      top: -10vh;
      display: table;
      content: "";
      width: 90%;
      height: 110vh;
      transform: rotate(13deg);
      transform-origin: bottom right;
      background: $matt-black;
    }
  }

  &-2-col-right {
    flex: 1;
    height: 100vh;
    // For middle png
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    // For background image
    // background-image: url(../Static/Images/Cover.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  // For middle png
  &-img {
    width: 60%;
    margin-left: 10%;
  }

  &-mobile {
    &-img {
      width: 280px;
      margin-top: 3em;
      align-self: center;
      display: none;
    }
  }

  &-content {
    position: relative;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // margin: 10%;
    // margin-right: 20%;

    &-heading {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 2.6em;
      white-space: nowrap;
      color: $blue;
    }

    &-desc {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 1.23em;
      line-height: 135%;
      color: $light-grey;
      margin-top: 1em;
      margin-bottom: 1.8em;
    }
  }
}

.page {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  // May need left and transform
  margin: auto;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 3%;
  background: $matt-black;

  &-header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    font-family: "Roboto", sans-serif;
    margin: 5em 0;

    &-title {
      font-size: 2.3em;
      color: $white;
      font-weight: 500;
    }

    &-desc {
      font-size: 1.1em;
      color: $light-grey;
      font-weight: 300;
      margin-top: 1.2em;
    }
  }

  &-content {
    width: 100%;
    color: $white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 170%;
    position: relative;
    z-index: 5;

    &-2col {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: justify;
      margin-bottom: 3.5em;

      &-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        font-size: 1em;
      }

      &-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
    }
  }
}

.infogrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  position: relative;
  grid-gap: 2px 2px;
  box-shadow: 0px -3px 14px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid $dark-grey;
  border-radius: 7px;
  padding: 0.6em;

  &-tab {
    position: relative;
    display: flex;
    // width: 100%;
    // height: 100%;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 1.2em 1.9em;

    &-title {
      font-weight: 500;
      font-size: 2.6em;
      color: $blue;
    }

    &-desc {
      font-weight: 300;
      font-size: 1em;
      color: $light-grey;
      text-align: center;
      line-height: 120%;
      margin-top: 1em;
    }
  }

  &:after {
    content: "";
    display: table;
    position: absolute;
    width: 100%;
    height: 1px;
    background: $dark-grey;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &:before {
    content: "";
    display: table;
    position: absolute;
    height: 93%;
    width: 1px;
    background: $dark-grey;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.award-deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.6em;

  &-img {
    width: 75%;
  }
}

.goalslist {
  font-size: 1.3em;
  font-weight: 400;
  color: $blue;

  li {
    margin: 0.7em;
  }

  &-item {
    display: flex;
    align-items: center;
    white-space: nowrap;

    &-img {
      height: 1.6em;
      margin-right: 0.8em;
    }
  }
}

.service-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  position: relative;
  grid-gap: 80px 80px;
  padding: 2% 4%;

  &-child {
    position: relative;
    border: 1px solid #112c4c;
    width: 100%;
    // height: 325px;
    // min-height: 200px;
    // margin: auto;
    padding: 32px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: $matt-black;
    border: 1px solid $dark-grey;
    border-radius: 6px;
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
  }
}

.service {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-img {
      width: 32px;
    }

    &-title {
      font-size: 1.25em;
      font-weight: 500;
      color: $blue;
    }
  }

  &-desc {
    width: 100%;
    font-size: 0.9em;
    font-weight: 300;
    text-align: justify;
    line-height: 160%;
    margin-top: 2.3em;
  }

  .button-link {
    font-size: 0.9em;
    padding: 0.6rem 0.9rem;
    align-self: flex-end;
    margin-top: 1.5em;
  }
}

.customer-para-col {
  padding: 2em;
  flex-direction: column;
  justify-content: flex-start;
}

.customergrid-container {
  width: 85%;
  max-width: 550px;
  background: $matt-black;
  border: 1px solid $dark-grey;
  border-radius: 7px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
}

.disable-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

// .disable-scrollbars::-webkit-scrollbar {
//   background: transparent; /* Chrome/Safari/Webkit */
//   width: 0px;
// }

.customergrid-menu {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid $dark-grey;

  nav {
    // padding: 1% 0;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.95em;
    overflow-x: scroll;
    position: relative;

    a {
      position: relative;
      transition: 0.6s ease;
      margin: 0.2em 0.6em;
      white-space: nowrap;
      color: $blue;

      &:visited {
        color: $blue;
      }

      &:hover {
        color: $red;
      }
    }
  }
}

.menuButton {
  height: 1.7em;
  padding: 0 0.3em;
  color: $dark-grey;
  font-weight: 300;
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#menuLeftButton {
  border-right: 1px solid $dark-grey;
}

#menuRightButton {
  border-left: 1px solid $dark-grey;
}

.activeIndustry {
  color: $red !important;
}

.fix-collapse:after {
  position: relative;
  content: "";
  padding-right: 1px;
}

.customergrid {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 5% 0;
}

.industryBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 40px;
  position: relative;
  min-width: 100%;
  height: 100%;
  margin: 1%;
  overflow-y: hidden;

  div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 55%;
    }
  }
}

// .customergrid-menu {
//   width: 100%;
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   flex-wrap: wrap;
//   font-family: "Roboto", sans-serif;
//   font-weight: 300;
//   font-size: 0.98em;
//   color: $blue;
//   border-bottom: 1px solid $dark-grey;
//   padding-bottom: 2%;

//   a {
//     transition: 0.6s ease;
//     margin: 0.2em 0.6em;

//     &:visited {
//       color: $blue;
//     }

//     &:hover {
//       color: $red;
//     }
//   }
// }

// .customer-type {
//   background: $matt-black;
//   border: 1px solid $dark-grey;
//   border-radius: 7px;
//   box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.15);
//   padding: 4% 6%;
//   align-self: flex-start;
//   margin: 2em 1em;
//   font-family: "Roboto", sans-serif;
//   font-weight: 400;
//   color: $blue;
//   font-size: 1.1em;
//   // display: flex;
//   // width: 70%;

//   ul {
//     display: grid;
//     grid-gap: 15px 30px;
//     grid-template-columns: 1fr 1fr;
//   }

//   li {
//     margin: 0.2em 0;
//     text-align: center;
//   }

//   &-red {
//     color: $red;
//   }
// }

.contact {
  .banner-content-heading {
    color: $white;
    line-height: 110%;
    font-size: 2.2em;
  }

  .page-content-2col-left {
    align-self: flex-start;
    margin-top: 6em;
  }

  &-form {
    // height: 450px;
    width: 80%;
    max-width: 375px;
    background: $matt-black;
    border: 1px solid $dark-grey;
    border-radius: 7px;
    padding: 7% 5%;
    font-size: 1.05em;

    .text-white-underline {
      // color: $blue;

      &:after {
        width: 120%;
      }
    }

    &-heading {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: $blue;
      margin-bottom: 4%;
    }

    &-info {
      display: flex;
      font-size: 0.85em;
      line-height: 160%;
      align-items: center;
      justify-content: space-between;

      ul {
        margin: 7% 0;

        a {
          color: $white;
        }

        h4 {
          color: $blue;
        }
      }
    }
  }
}

.linkedin-icon {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h4 {
    color: $blue;
    line-height: 130%;
    font-weight: 400;
    font-size: 1.1em;
  }

  img {
    margin-top: 0.9em;
    width: 41px;
  }
}

.background-bluediv {
  width: 100%;
  height: 35vh;
  background: $blue;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.92em;
  font-weight: 300;
  // padding: 1em;

  // p {
  //   position: relative;
  // }

  // p:before {
  //   position: relative;
  //   left: -5%;
  //   width: 110%;
  //   height: 2px;
  //   margin-bottom: 0.9em;
  //   background: $matt-black;
  //   display: table;
  //   content: "";
  // }
  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark-grey;
    height: 18%;
    color: #cccccc;
  }
}

@import "mediaQueries";
